# .coveragerc to control coverage.py
[run]
source = pygridtools
branch = True
include = pygridtools/*.py
omit = pygridtools/tests/*

[report]
include = pygridtools/*.py
ignore_errors = True
omit =
    pygridtools/tests/*
    pygridtools/testing/*

# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.: